.tablecon {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    height: 50%;
  /*    border: solid red 1px */; 
  }
  
  .flex {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: solid rgb(76, 0, 255) 1px;
    margin-left: 150px;

  }
  .infocon{
    display: flex;
    margin: 1rem 1rem 2rem 1rem;
    text-align: center;
    border: solid rgb(0, 15, 151) 1px
  }
  
  img {
    display: inline-block;
    max-width: 50%;
    border-radius: 50%;
  }
  .meetcon{
    display: flex;
    flex-direction: column;
    width: 250px;
    border: solid green 1px;
    height: 250px;
    margin: 10px 20px;
    margin-right: 50px;
    padding-left: 10px;

  }
  .meetcon p{
    margin-top: 0;
    color: rgba(67, 68, 68, 0.61);
  }
  