.container{
     display: flex; 
     justify-content: center;
     align-items: center;
     height: 100%;
    /*  border: solid rgb(0, 0, 0) 1px; */
     padding: 10px 10px;
    
    
}
.signinside{
    width: 250px;
    height: 100%;
    margin: 5px 10px;

}
.logo{
    color: rgb(65, 11, 211);
    font-size: 30px;
    
    
}
.trailcon{
    display: flex;
    
}
.trail{
    color: rgb(65, 11, 211);
    margin: 0 10px;
}
.picside{
    position: relative;
    width: 250px;
    height: 480px;
    background-color: #66666600;
    background-image: url('https://images.unsplash.com/photo-1674221113655-471e1dcad937?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=736&q=80');
    background-position: right top;
    background-size: auto;
    background-repeat: no-repeat;
    margin-left: 10px;
}
.buttoncon{
    display: flex;
    justify-content: space-between;
    margin: 10px -10px;
    
    
}
.button{
    width: 80px;
    height: 30px;
    margin: auto;
    padding: 5px 10px;
    border: solid #9c9b9b 1px ;
    border-radius: 5px;
    cursor: pointer;
    color: #666666;
    background-color: transparent;   
}
.button:hover{
    background-color:rgb(65, 11, 211);;
    color: rgb(255, 255, 255);
    border: none;
}
.option{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    margin: 0px 0px;
}
.option a{
    color: rgb(65, 11, 211);
    font-size: small;
    text-decoration: none;
    margin: 0px 5px;
}
.buttonsignin{
    width: 100%;
    height: 30px;
    background-color: rgb(39, 17, 161);
    color: #ffff;
    border-radius: 5px;
    border: none;
    margin: 10px 0px;
    cursor: pointer;
}
.buttonsignin :hover{
   color: rgb(65, 64, 64);
}
.inputbox{
    width: 100%;
    border-radius: 5px;
    border:solid rgb(160, 152, 152) 0.1px;
    height:1.5rem ;
}
 @media screen and (max-width : 520px){
    .container{
        display: block;
        justify-items:center ;
    }
    
}